.tbl{
    border: solid gray 0.3px;
    margin: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-collapse: collapse;
}
tr{
    border: solid gray 0.3px;
    
}
td{
    border: solid gray 0.3px;
   
}