.tilte{
    margin: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 200px;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.marginTop{
    margin-top: 25px;
}